<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImeBridge">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />

        <activity
            android:name=".BridgeVisualSettingsActivity"
            android:exported="true"
            android:label="@string/bridge_visual_title"
            android:theme="@style/Theme.ImeBridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BridgeVisualPrefsProvider"
            android:authorities="com.brycewg.asrkb.imebridge.visualprefs"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>

</manifest>
